{% extends '../base.html' %}
{% load mathfilters %}
{% block csslink %}
<link href="/assets/css/board.css?after" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>

				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for board in board_list %}
						<tr>
							<td>{{ totalPageCount | sub:page_num | add:1 | mul:page_row_count | sub:forloop.counter |add:1}}</td>
							<td style="text-align:left; padding-left:{{board.depth | mul:15 }}px">
								{% if board.depth != 0 %}
									<img src='/assets/images/reply.png'>
								{% endif %}
								<a href="/board/view/{{ board.id }}">{{ board.title }}</a>
							</td>
							<td>{{ board.user.name }}</td>
							<td>{{ board.hit }}</td>
							<td>{{ board.regdate | date:'Y-m-d H:i:s' }}</td>
							<td>
								{% if request.session.authuser is not None and request.session.authuser.id == board.user.id %}
									<a href="/board/delete/{{ board.id }}" class="del">삭제</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>

				<div class="pager">
					<ul>
						{% if startpage_num != 1 %}
						<li>
							<a href="/board?page_num={{startpage_num | sub:1}}">◀</a>
						{% else %}
							<a href="javascript:" class="disabled">◀</a>
						</li>
						{% endif %}
						{% for i in bottomPages %}
							{% if i == page_num %}
								<a href="/board?page_num={{i }}"><li class="selected">{{ i }}</li></a>
								{% else %}
									<a href="/board?page_num={{i }}"><li >{{ i }}</li ></a>
								{% endif %}
							</li>

						{% endfor %}

						{% if endpage_num < totalPageCount %}
						<li>
							<a href="/board?page_num={{endpage_num | add:1}}">▶</a>
						{% else %}
							<a href="javascript:" class="disabled">▶</a>
						{% endif %}
						</li>

					</ul>
				</div>
				<div class="bottom">
					{% if request.session.authuser is not None  %}
						<a href="/board/writeform" id="new-book">글쓰기</a>
					{% endif %}
				</div>
			</div>
{% endblock %}